@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 20px;
}
body{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 60px;
    font-family: "PT Serif", serif;
    margin: 1rem 4rem 1rem 4rem;

    
}
h1 {
    text-align: center;
    font-size: 2rem;
    
  }

h2{
    font-size: 30px;
    border: 1px solid black;
}
  


hr{
    border: 6px solid;
    color: blanchedalmond;
    border-radius: 30px;
   
}
#text{
    text-align: center;

}

#text a {
    color: rgb(0, 0, 0)

}

#text a {
   text-decoration: none;
}

section{
    padding: 40px;
    
}
main{
    background-color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 30px;
}
p{
line-height: 1.5;
}