@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 20px;
    scroll-behavior: smooth;
    --cor-background:linear-gradient(rgb(255, 255, 194), rgb(255, 234, 3));
  
}

[data-tema="light"]{
    --planofundo: white;

}
[data-tema="dark"]{
    --planofundo: black;
    --cor-fonte:white;
}

body{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 60px;
    font-family: "PT Serif", serif;
    margin: 1rem 4rem 1rem 4rem;
    background-color: var(--planofundo);

    
}
.titulo {
    color: var(--cor-fonte);
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 2px grey;
  }

h2{
    font-size: 30px;
    line-height: 1.5;
}
  


hr{
    border: 6px solid;
    color:rgb(245, 245, 100);
    border-radius: 30px;
   
}
.continue{
    color: white;
    background-color: #eef476;
    padding: .5em 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(56, 56, 56);
    text-decoration: none;

}

    
#text{
    color: var(--cor-fonte);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

#text a {
    color: var(--cor-fonte)
}

#text a {
   text-decoration: none;
}

#tecnologias{
    display: flex;
    justify-content: space-around;
}
.autor{
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}
.data{
    font-style: oblique;
    font-size: 80%;
}
article h1{
    font-size:2rem;
    font-weight: 600;
    text-align: center;
}
article h2{
    font-size:1.0rem;
    font-weight: bold;
    text-align: center;
}
article p{
    text-align: justify;
    margin-bottom: 1rem;
}
article{
    width: 30%;
    background-color: antiquewhite;
    border-radius: 30px;
    box-shadow: 0px 4px 10px grey;
    background: var(--cor-background);
}
article:hover{
    transform: scale(1.1);
    transition: 500ms linear;
}
section{
    line-height: 1.5;
}
section, article{
    padding: 30px;
}
main{
    background: var(--cor-background);
    border: 2px solid blanchedalmond;
    border-radius: 30px;
    box-shadow: 0px 4px 10px grey;
}
.listas-tags li{
    display: inline;
}
button{
    background-color: #eef476;
    border: #edc984;
    padding: 10px;
    border-radius: 10px;
    float: right;

}
button:hover{
    transform: scale(1.1);
    transition: 600ms linear;
}